.content {
  margin-top: 50px;
  padding: 0 10px;
}

.heart-wrapper {
  text-align: center;
  height: 170px;
  line-height: 225px;
}

.heart {
  background-color: #9b091d;
  display: inline-block;
  height: 50px;
  transform: scale(1.5) rotate(-45deg);
  margin: auto;
  width: 50px;
  animation: heartbeat 1s infinite;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #9b091d;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.heart:before {
  top: -25px;
  left: 0;
}

.heart:after {
  left: 25px;
  top: 0;
}

@keyframes heartbeat {
  100% {
    transform: scale(1.5) rotate(-45deg);
  }
  80% {
    transform: scale(1.25) rotate(-45deg);
  }
  60% {
    transform: scale(1) rotate(-45deg);
  }
}

.title {
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: 800;
}

.beats {
  color: white;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
}

.beats-label {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: 800;
}
